* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 1000px) {
  .sideBarContainer {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
  }
}

@media only screen and (min-width: 1000px) {
  .sideBarContainer {
    display: none;
  }
}

#sideBar {
  margin-right: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  position: 2;
}

@media only screen and (max-width: 1000px) {
  #sideBar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#sideBar form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sideBar form div input {
  margin-left: 10px;
  border-style: solid;
  border-radius: 0.375rem;
  padding: 5px;
}

#sideBar form div .btn {
  border-radius: 0.375rem;
}

#sideBar form .noteAria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sideBar form .noteAria textarea {
  border-style: solid;
  border-radius: 0.375rem;
  padding: 5px;
}

#sideBar form * {
  margin-top: 5px;
}

.invalidInput {
  border-color: red;
}

@media only screen and (max-width: 1000px) {
  .hide {
    display: none;
  }
}

#toDoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#toDoList div {
  width: 33%;
  -webkit-animation: newCardAnimation 1s;
          animation: newCardAnimation 1s;
}

@media only screen and (max-width: 1200px) {
  #toDoList div {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  #toDoList div {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 400px) {
  #toDoList div {
    width: 100%;
  }
}

#toDoList div .card {
  height: 350px !important;
  width: 98%;
  margin-top: 5px;
}

#toDoList div .card p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: scroll;
  overflow-x: hidden;
}

#toDoList div .card label {
  color: blue;
}

#toDoList div .card hr {
  margin-top: 5px;
}

#toDoList div .card .controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#toDoList div .card .controlls .btn-remove {
  background-color: red;
  color: white;
}

@-webkit-keyframes newCardAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate(-35%, 0);
            transform: translate(-35%, 0);
  }
  to {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes newCardAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate(-35%, 0);
            transform: translate(-35%, 0);
  }
  to {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#addTaskBtn {
  background-color: #0d6efd;
  color: white;
  border-style: solid;
  padding: 0.7rem;
  border-radius: 50%;
  border-color: #0a53be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

@media only screen and (min-width: 1000px) {
  #addTaskBtn {
    display: none;
  }
}

#addTaskBtn:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

#addTaskBtn:active {
  background-color: #0a58ca;
  border-color: #0a53be;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.123);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.123);
}

header {
  margin-bottom: 30px;
}

header i {
  margin-left: 15Px;
  margin-right: 15Px;
  font-size: 30px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */